* {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #6b4e71;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
header nav ul{
    list-style: none;
    padding: 0;
}
header nav ul li{
    margin: 0 15px;
    display: inline-block;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
header p {
    font-weight: 600;
}
header li {
    font-display: none;
}
.lineas{
    display: inline-block;
}
.linea {
    display: inline-block;
    width: 90px;
    height: 3px;
    background-color: #fff;
    margin: 5px 10px;
}

.image  {
    display: inline-block;
    width: 20px;
    justify-content: center;
}
.banner1 {
    background-color: #c2b2b4;
    text-align: center;
    padding-bottom: 50px;
    color: white;
}
.banner1 .avatar {
    width: 140px;
    padding-top: 50px;
}
h2 {
    font-size: 33px;
    color: white;
    margin-bottom: 10px;
}
.banner2 {
    text-align: center;
}
.banner2 h2 {
    font-size: 33px;
    color: #000000;
    padding-top: 50px;
    margin-bottom: 10px;
}
.banner2 .linea {
    display: inline-block;
    width: 90px;
    height: 3px;
    background-color: #000000;
    margin: 5px 10px;
}
.cajaimg {
    display: inline-block;
    width: 200px;
}
.cajaimg p {
    font-weight: 600;
}
.iconitos {
    width: 200px;
}
.banner3 {
    background-color: #c2b2b4;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0 auto;
    padding-bottom: 5px;
}
.banner3 h2 {
    padding-top: 50px;
}
.texticos {
    padding-left: 50px;
    padding-right: 50px;
}
.caja p {
    display: inline-block;
}
.enlinea {
    width: 45%;
    margin: 30px 5px 0 5px;
    vertical-align: top;
    text-align: left;
}
.boton {
    color: white;
    border: 2px solid white;
    padding: 10px 0;
    width: 130px;
    border-radius: 5px;
    margin: 40px auto;
}
footer {
    background-color: #2c3e51;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-weight: 300;
}